{% extends 'layout.html.twig' %}

{% block content %}
<div class="grid">
    <div>
        <a href="\categories"><article>Catégories</article></a>
    </div>
    <div>
        <a href="\customers"><article>Compte Clients</article></a>
    </div>
    <div>
        <a href="\invoices"><article>Facture</article></a>
    </div>
    <div>
        <a href="\earnmoney"><article>CA</article></a>
    </div>
    <div>
        <a href="\workshops"><article>Atelier</article></a>
    </div>
    <div>
        <a href="\calculators"><article>Calculatrice</article></a>
    </div>
    <div>
        <a href="\cart"><article>Paniers</article></a>
    </div>
{% endblock %}