{% extends 'layout.html.twig' %}

    {% block headermobile %}
    <header>
        <i class="fa-solid fa-power-off"></i>
        <img src="/assets/images/logo2.png" alt="logo de perle do">
        <p>{{ now|date("l j F Y", "Europe/Paris") }}</p>
        <i class="fa-solid fa-magnifying-glass"></i>
    </header>
    {% endblock %}

{% block content %}
<div class="grid">
    <div>
        <a href="\categories"><article>
            <i class="fa-regular fa-file-lines"></i>
            <p>Catégories</p>
        </article></a>
    </div>
    <div>
        <a href="\customers"><article>
            <i class="fa-regular fa-user"></i>
            <p>Compte Clients</p>
        </article></a>
    </div>
    <div>
        <a href="\invoices"><article>
            <i class="fa-solid fa-receipt"></i>
            <p>Facture</p>
        </article></a>
    </div>
    <div>
        <a href="\earnmoney"><article>
            <i class="fa-solid fa-chart-column"></i>
            <p>CA</p>
        </article></a>
    </div>
    <div>
        <a href="\workshops"><article>
            <i class="fa-regular fa-calendar"></i>
            <p>Atelier</p>
        </article></a>
    </div>
    <div>
        <a href="\calculators"><article>
            <i class="fa-solid fa-calculator"></i>
            <p>Calculatrice</p>
        </article></a>
    </div>
    <div>
        <a href="\cart"><article>
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Paniers</p>
        </article></a>
    </div>
{% endblock %}

{% block navbarmobile %}
{% endblock %}