{% extends 'layout.html.twig' %}

{% block content %}

<div class="categorieblock blockpage">
<h1>Recherche dans :</h1>
    <article>
            <details role="list">
            <summary aria-haspopup="listbox">Choix :</summary>
            <ul role="listbox">
                <li><a>Produits</a></li>
                <li><a>Références Produits</a></li>
                <li><a>Clients</a></li>
                <li><a>Références Clients</a></li>
                <li><a>Factures</a></li>
                <li><a>Evènements</a></li>
            </ul>
        </details>
    </article>
    
{% endblock %}