{% extends 'layout.html.twig' %}

{% block content %}
<h3 id="title-add-category">Modifier un client</h3>
    {% include 'Customer/_form.html.twig' %}
{% endblock %}
{% block buttons %}
{% endblock %}
{% block modaldelete %}
{% endblock %}
