{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ material.id }}" name="id">
	<label for="title">Tile</label>
	<input type="text" value="{{ material.title }}" name="title" id="title">
	<button>Submit</button>
</form>
