<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/9fbc16b7ca.js" crossorigin="anonymous"></script>
    {% block stylesheet %}{% endblock %}
</head>

<body>

  {% block navbar %}
  <nav class="navbar-mobile">
    <ul>
      <li><a href="/categories"><i class="fa-regular fa-file-lines color "></i></a></li>
      <li><a href="/customers"><i class="fa-regular fa-user color"></i></a></li>
      <li><a href=""><i class="fa-solid fa-chart-column color"></i></a></li>
      <li><a href=""><i class="fa-regular fa-calendar color"></i></a></li>
      <li><a href="/invoices"><i class="fa-solid fa-receipt color"></i></a></li>
      <li><a href=""><i class="fa-solid fa-cart-shopping color"></i></a></li>
      <li><a href=""><i class="fa-solid fa-calculator color"></i></a></li>
    </ul>
  </nav>

  <nav class="navbar-desktop">
    <ul>
      <img src="/assets/images/logo2.png" alt="logo de perle do">
      <li><a href="/categories"><i class="fa-regular fa-file-lines color "></i>Produits</a></li>
      <li><a href="/customers"><i class="fa-regular fa-user color"></i>Fiches clients</a></li>
      <li><a href=""><i class="fa-solid fa-chart-column color"></i>Chiffre d'affaire</a></li>
      <li><a href=""><i class="fa-regular fa-calendar color"></i>Evênements</a></li>
      <li><a href="/invoices"><i class="fa-solid fa-receipt color"></i>Factures</a></li>
      <li><a href=""><i class="fa-solid fa-cart-shopping color"></i>Panier</a></li>
      <li class="deconnexion"><a href="/"><i class="fa-solid fa-power-off"></i>Deconnexion</a></li>
    </ul>
  </nav>
  {% endblock %}

  {% block header %}
    <header>
        <a href="javascript:window.history.back();"><i class="fa-solid fa-chevron-left"></i></a>
        <img src="/assets/images/logo2.png" alt="logo de perle do">
        <p>{{ now|date("l j F Y", "Europe/Paris") }}</p>
        <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
    </header>
  {% endblock %}

  {% block content %}{% endblock %}
  {% block javascript %}{% endblock %}
</body>

</html>


