<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/images/favicon.png" />

    <title>{% block title %}{% endblock %}</title>
    

    {% block stylesheet %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
      <link rel="stylesheet" href="/assets/css/style.css">
      <script src="https://kit.fontawesome.com/9fbc16b7ca.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

  <body>
    {% block navbar %}
      <nav class="navbar-mobile">
        <ul>
          <li>
            <a href="/categories"><i class="fa-regular fa-file-lines color"></i></a>
          </li>
          <li>
            <a href="/customers"><i class="fa-regular fa-user color"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-chart-column color"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-regular fa-calendar color"></i></a>
          </li>
          <li>
            <a href="/invoices"><i class="fa-solid fa-receipt color"></i></a>
          </li>
          <li>
            <a href="/shop"><i class="fa-solid fa-cart-shopping color"></i></a>
          </li>
        </ul>
      </nav>

  <nav class="navbar-desktop">
    <ul>
      <a href="/"><img src="/assets/images/logo2.png" alt="logo de perle do"></a>
      <li><a href="/categories"><i class="fa-regular fa-file-lines color "></i>Produits</a></li>
      <li><a href="/customers"><i class="fa-regular fa-user color"></i>Fiches clients</a></li>
      <li><a href=""><i class="fa-solid fa-chart-column color"></i>Chiffre d'affaire</a></li>
      <li><a href=""><i class="fa-regular fa-calendar color"></i>Evènements</a></li>
      <li><a href="/invoices"><i class="fa-solid fa-receipt color"></i>Factures</a></li>
      <li><a href="/shop"><i class="fa-solid fa-cart-shopping color"></i>Panier</a></li>    
      <li><a href="/user"><i class="fa-solid fa-user-group"></i>Gestion utilisateur</a></li>
      {% if user %}<li class="logout"><a href="/logout"><i class="fa-solid fa-power-off"></i>Deconnexion</a></li>{% endif %}
    </ul>
  </nav>
  {% endblock %}

    {% block header %}
      <header>
        <a href="javascript:window.history.back();"><i class="fa-solid fa-chevron-left"></i></a>
        <a href="/"><img src="/assets/images/logo2.png" alt="logo de perle do" /></a>
        <p>{{ now|date('l j F Y', 'Europe/Paris') }}</p>
        <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
      </header>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block modaldelete %}
      <!-- span to trigger the modal -->
      <!-- Modal -->
      <dialog id="modal-delete">
        <article class="modal">
          <a href="#close" aria-label="Close" class="close" data-target="modal-delete" onClick="toggleModal(event)"></a>
          <h3>Confirmer la suppression de :</h3>
          <p>intégrer ici la recherche dans la bdd</p>
          <footer>
            <a href="#cancel" role="span" class="secondary" data-target="modal-delete" onClick="toggleModal(event)">NON</a>
            <a href="#confirm" role="span" data-target="modal-delete" onClick="toggleModal(event)">OUI</a>
          </footer>
        </article>
      </dialog>
    {% endblock %}

    {% block calculator %}
      <button class="contrast" data-target="modal-example" onClick="toggleModal(event)"><i class="fa-solid fa-calculator"></i></button>

      <!-- Modal -->
      <dialog id="modal-example">
        <article class="calculator">
          <a href="#close" aria-label="Close" class="close" data-target="modal-example" onClick="toggleModal(event)"></a>

          <div class="body-calculator">
            <div class="container-calculator">
              <input type="text" class="display" />

              <div class="spans-calculator">
                <span class="button-on-calculator operator" data-value="AC">AC</span>
                <span class="button-on-calculator operator" data-value="DEL">DEL</span>
                <span class="button-on-calculator operator percentage" data-value="%">%</span>
                <span class="button-on-calculator operator" data-value="/">/</span>

                <span class="button-on-calculator" data-value="7">7</span>
                <span class="button-on-calculator" data-value="8">8</span>
                <span class="button-on-calculator" data-value="9">9</span>
                <span class="button-on-calculator operator" data-value="*">*</span>

                <span class="button-on-calculator" data-value="4">4</span>
                <span class="button-on-calculator" data-value="5">5</span>
                <span class="button-on-calculator" data-value="6">6</span>
                <span class="button-on-calculator operator" data-value="-">-</span>

                <span class="button-on-calculator" data-value="1">1</span>
                <span class="button-on-calculator" data-value="2">2</span>
                <span class="button-on-calculator" data-value="3">3</span>
                <span class="button-on-calculator operator" data-value="+">+</span>

                <span class="button-on-calculator" data-value="0">0</span>
                <span class="button-on-calculator" data-value="00">00</span>
                <span class="button-on-calculator" data-value=".">.</span>
                <span class="button-on-calculator operator" data-value="=">=</span>
              </div>
            </div>
          </div>
        </article>
      </dialog>
    {% endblock %}
    <!-- Button to trigger the modal -->

    {% block javascript %}
      <script src="/assets/script.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.1.0/math.min.js"></script>
    {% endblock %}
  </body>
</html>
