{# TODO : manage errors display #}

<h3 id="title-add-category"> Ajouter/modifier une catégorie</h3>
{% for error in errors %}
<p> {{error}} </p>
{% endfor %}
<form action ="" method="post">
<div class="add-products-grid" id="add-category-form">
<input type="hidden" value="{{ category.id }}" name="id"> 
    
    <div>
    <label for="name">Nom</label>
    </div>

    <div>
    <input type="text" id="name" value="{{ category.name }}" name="name" placeholder="Nom" required>
    </div>

    <div><label for="file">Charger une image</div>
    <br>
    <div>
    <input type="file" id="file" name="file">
    </div>
    <br>
    <button>Enregistrer</button>

</div>
</form>
