{% extends 'layout.html.twig' %}

{% block navbar %}
{{parent()}}
{% endblock %}

{% block content %}

<div class="categorie-block">
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
</div>

{% endblock %}
