{% extends 'layout.html.twig' %}

        {% block navbar %}
        {{parent()}}
        {% endblock %}

        {% block content %}
        <div class="customer-block">
                {% for category in categories %}
                <article class="article-category"><a href="#"></a>
                <p> {{ category.name }} </p>
                <a href="/categories/edit?id={{ category.id }}">
                        <button class="edit-button-category"><i class="fa-solid fa-pen"></i>
                        </button>
                </a>
                </article>
                {% endfor %} 
        </div>
        <button class="add-button-customer">
                <a href="/categories/add">Nouvelle categoie</a>
        </button>
        {% endblock %}

        {% block buttons %}  
        {% endblock %}
        {% block modaldelete %} {% endblock %}
