{% extends 'layout.html.twig' %}

{% block content %}
{{parent()}}
<div class="categorieblock">
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>

</div>

{% endblock %}
