{% extends 'layout.html.twig' %}

        {% block navbar %}
        {{parent()}}
        {% endblock %}

        {% block content %}
                <div class="category-block">
        {% for category in categories %}
                <article class="article-category"><a href="#"></a>
                <p> {{ category.name }} </p>
                </article>
                        {% endfor %} 
        </div>
              
        {% endblock %}

        {% block buttons %} {% endblock %}
        {% block modaldelete %} {% endblock %}
