{% extends 'layout.html.twig' %}

        {% block navbar %}
        {{parent()}}
        {% endblock %}

<<<<<<< HEAD
{% block content %}
<<<<<<< HEAD

<div class="categorie-block">
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
<article> <p>Bonjour je suis un texte</p></article>
=======
<div class="category-block">
{% for category in categories %}
<article><a href="#"></a>
<p> {{ category.name }} </p>
</article>
{% endfor %} 
>>>>>>> 17743cbbcc6ba6aefae0f7edb433bda3098481db
</div>
{% endblock %}

{% block modaldelete %}
{% endblock %}

{% block buttons %}{% endblock %}
=======
        {% block content %}
   
        <div class="customer-block">
                {% for category in categories %}
                <article class="article-category"><a href="#"></a>
                <p> {{ category.name }} </p>
                </article>
                {% endfor %} 
        </div>
        {% endblock %}

        {% block buttons %}  
                <div class="buttons">
                <article class="add-button-only"><a href="/categories/add">
                <p>Ajouter</p></a>
                </article>
                </div>
        {% endblock %}
        {% block modaldelete %} {% endblock %}
>>>>>>> 8dc2ada57b9c2dc4e7113c4d20a8ed64dd98de44
