/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #c49a6c;
    --primary-hover: #c49a6c;
    --primary-focus: rgba(216, 27, 96, 0.125);
    --primary-inverse: #fff;
    --backgound-color: rgba(255, 235, 228, 0.56);
    --background-color-secondary: #f9f9f9;
    --block-color: #ffebe4;
    --background-block-white: #fefefe;
    --font-black: #333333;
    --background-button-color: #ffebe4;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #c49a6c;
        --primary-hover: #c49a6c;
        --primary-focus: rgba(216, 27, 96, 0.25);
        --primary-inverse: #fff;
    }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #c49a6c;
    --primary-hover: #c49a6c;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #fff;
}

/* Pink (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}

[role="link"]:is([aria-current], :hover, :active, :focus),
a:is([aria-current], :hover, :active, :focus) {
    --color: var(--primary-hover);
    --text-decoration: none;
}

* {
    text-decoration: none;
}
body {
    background-color: var(--background-color-secondary);
    height: 100vh;
}
/* header */
body header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--backgound-color);
    padding: 1rem;
    height: 20vh;
}

header img {
    display: grid;
    width: 200px;
    justify-self: center;
}

header p {
    display: grid;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-items: center;
}

header .fa-magnifying-glass {
    display: grid;
    justify-items: end;
}

/* accueil */
.grid {
    grid-template-columns: 1fr 1fr;
    margin-right: 2rem;
    margin-left: 2rem;
    column-gap: 5rem;
    position: relative;
    top: -7vh;
    width: 90%;
}

.grid div:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

article {
    margin-top: 1rem;
    border-radius: 2rem;
    width: 100%;
    height: 15vh;
    font-size: 2rem;
    text-align: center;
}

article p {
    font-size: 1rem;
}
/* navbar */

nav ul {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

nav {
    justify-content: space-evenly;
}

.navbar-mobile {
    background-color: var(--background-block-white);
    position: fixed;
    bottom: 1%;
    border-radius: 15px;
    width: 98%;
    left: 1vw;
    right: 1vw;
    box-shadow: var(--card-box-shadow);
}
.navbar-mobile > ul a {
    color: var(--font-black);
}
.navbar-desktop {
    display: none;
}

/* search */
.block-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    position: relative;
    top: -5vh;
    height: 0;
    align-self: flex-start;
}

.block-page article {
    width: 75%;
    height: 100%;
}

select {
    width: 75%;
    justify-content: center;
    align-items: center;
    background-color: var(--block-color);
    border-radius: 0.5rem;
}

.search {
    width: 75%;
    text-align: center;
    background-color: var(--block-color);
    border-radius: 0.5rem;
}

.cancel-valid {
    display: flex;
    flex-direction: row;
}

.cancel-valid article {
    width: 5rem;
    padding: 0;
    margin: 1rem;
    border-radius: 0.5rem;
}

.cancel-valid .cancel-button,
.cancel-valid .validate-button {
    left: 0;
}

/* button */
.buttons {
    display: flex;
    position: fixed;
    bottom: 9vh;
    width: 100%;
}

.add-button,
.delete-button,
.edit-button,
.cancel-button,
.validate-button {
    display: flex;
    position: relative;
    left: 24vw;
    padding: 0;
    margin: 0 0.5rem;
    background-color: var(--background-button-color);
    border-radius: 15px;
    width: 12%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.add-button > a > p,
.delete-button > a,
.edit-button > a,
.cancel-button > a,
.validate-button > a {
    margin: 0;
    color: var(--font-black);
}

/* modal */
.modal {
    height: 40vh;
}

/*-------- GRID FORM STARTS--------- */
.add-products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 1rem;
    position: relative;
    top: -4vh;
    left: 6vw;
    width: 90vw;
    background-color: var(--background-block-white);
    padding: 2rem 1rem;
    border-radius: 15px;

}

.add-products-grid div:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]) {
    height: 2rem;
    margin-bottom: 1rem;
    background-color: var(--background-button-color);
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
    width: 100%;
    margin: 0.2rem;
    border-style: none;
}

/*-------- GRID FORM ENDS--------- */

#title-add-category {
    display: none;
}

/* css pour le add/edit cutomer */

.add-customer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    top: -4vh;
    left: 6vw;
    width: 90vw;
    background-color: var(--background-block-white);
    padding: 2rem 1rem 0 1 rem;
    border-radius: 15px;
}

.add-customer-grid select {
    width: 100%;
    height: 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--block-color);
    border-radius: 0.5rem;
    padding: 0;
}

button {
    background-color: var(--block-color);
    color: var(--font-black);
    grid-column-start: 1;
    grid-column-end: 3;
}

.add-customer-grid div:last-child {

}

/* -------------------media queries pour + 780 px--------------------- */
@media screen and (min-width: 780px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid div:last-child {
        grid-column-end: 4;
    }

    article {
        height: 20vh;
    }

    article p {
        font-size: 1.5rem;
    }

    body header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 30%;
        background-color: var(--background-color-secondary);
        height: 10vh;
    }

    header img {
        display: none;
    }

    header p {
        display: none;
    }

    header .fa-magnifying-glass {
        display: flex;
        justify-content: space-between;
    }

    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        position: fixed;
        z-index: 99999;
        display: flex;
        flex-direction: column;
        background-color: var(--background-block-white);
        box-shadow: var(--card-box-shadow);
        width: 23%;
        height: 100vh;
        padding: 0 6%;
    }

    .navbar-desktop > ul a {
        color: var(--font-black);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
    }

    i {
        padding-right: 1rem;
    }

    nav li {
        width: max-content;
        padding: 15px 0px;
    }

    .category-block {
        position: relative;
        display: flex;
        width: 66%;
        left: 30%;
        height: 80%;
        justify-content: space-between;
    }

    nav img {
        display: flex;
        position: relative;
        bottom: 16vh;
        width: fit-content;
    }

    .deconnexion {
        display: flex;
        position: relative;
        top: 16vh;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .fa-power-off,
    .deconnexion,
    .deconnexion > a {
        color: var(--primary);
    }

    .cancel-valid article {
        margin: 0 0.5rem;
    }

    .buttons {
        display: flex;
        position: fixed;
        bottom: 3vh;
        width: 100%;
    }

    .add-button,
    .delete-button,
    .edit-button,
    .cancel-button,
    .validate-button {
        display: flex;
        position: relative;
        left: 52vw;
        background-color: var(--background-button-color);
        border-radius: 15px;
        width: 5rem;
        height: 10vh;
        font-size: 1.5rem;
    }

    .add-button > a > p {
        font-size: 1.2rem;
    }

    .fa-pen,
    .fa-ban,
    .fa-circle-check,
    .fa-trash-can
    {
        padding: 0;
    }

    /*-------- GRID FORM STARTS--------- */
    .add-products-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 0;
        position: relative;
        top: 10vh;
        left: 30vw;
        width: 65vw;
        background-color: var(--background-block-white);
        padding: 2rem 3rem;
    }

    .add-products-grid > div {
        width: max-content;
    }

    .add-products-grid div:nth-child(2n) {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .add-products-grid div:nth-child(2n + 1) {
        justify-content: flex-end;
    }

    .add-products-grid div:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    input:not(
            [type="checkbox"],
            [type="radio"],
            [type="range"],
            [type="file"]
        ) {
        height: 2rem;
        margin-bottom: 1rem;
        background-color: var(--background-button-color);
    }

    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
        width: 100%;
        margin: 0.2rem;
    }

    #title-add-category {
        display:flex;
        position: fixed;
        top: 6vh;
        left: 30vw;
    }
    /*-------- GRID FORM ENDS--------- */
    .modal {
        height: 60vh;
        width: 75vh;
    }

    /* css pour le add/edit cutomer */

    .add-customer-grid {
        column-gap: 1rem;
        row-gap: 0;
        position: relative;
        top: 2vh;
        left: 30vw;
        width: 65vw;
        background-color: var(--background-block-white);
        padding: 2rem 3rem 0 3 rem;
    }
    

}

