/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #c49a6c;
    --primary-hover: #c49a6c;
    --primary-focus: rgba(216, 27, 96, 0.125);
    --primary-inverse: #FFF;
    --backgound-color: rgba(255, 235, 228, 0.56);
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #c49a6c;
        --primary-hover: #c49a6c;
        --primary-focus: rgba(216, 27, 96, 0.25);
        --primary-inverse: #fff;
    }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #c49a6c;
    --primary-hover: #c49a6c;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #fff;
}

/* Pink (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}

[role="link"]:is([aria-current], :hover, :active, :focus),
a:is([aria-current], :hover, :active, :focus) {
    --color: var(--primary-hover);
    --text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    --background-block-white: #fefefe;
    --background-color: #f9f9f9;
    --font-black: #333333;
}
body {
    background-color: var(--background-color);
}
/* header */
body header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--backgound-color);
    padding: 1rem;
    height: 20vh;
}

header img {
    display: grid;
    width: 200px;
    justify-self: center;
}

header p {
    display: grid;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-items: center;
}

header .fa-magnifying-glass{
    display: grid;
    justify-items: end;
}

/* accueil */
.grid {
grid-template-columns: 1fr 1fr;
margin-right: 2rem;
margin-left: 2rem;
column-gap: 5rem;
position: relative;
top: -7vh;
width: 90%;
}

.grid div:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

article {
    margin-top: 1rem;
    border-radius: 2rem;
    width: 100%;
    height: 15vh;
    font-size: 2rem;
    text-align: center;
}

article p {
    font-size: 1rem;
}
/* navbar */

nav ul {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

nav {
    justify-content: space-evenly;
}

.navbar-mobile {
    background-color: var(--background-block-white);
    position: fixed;
    bottom: 1%;
    border-radius: 15px;
    width: 98%;
    left: 1vw;
    right: 1vw;
    box-shadow: var(--card-box-shadow);
}
.navbar-mobile > ul a {
    color: var(--font-black);
}
.navbar-desktop {
    display: none;
}
/* -------------------media queries pour + 780 px--------------------- */
@media screen and (min-width: 780px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid div:last-child {
        grid-column-end: 4;
    }

        article {
        height: 20vh;
    }

    article p {
        font-size: 1.5rem;
    }

    body header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 30%;
        background-color: var(--background-block-white);
    }
        
    header img {
        display: none;
    }

    header p {
        display: none;
    }
        
    header .fa-magnifying-glass{
        display: flex;
        justify-content: space-between;
    }

    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        position: fixed;
        z-index: 99999;
        display: flex;
        flex-direction: column;
        background-color: var(--background-block-white);
        box-shadow: var(--card-box-shadow);
        width: 25%;
        height: 100vh;
        padding:0 7.5%;
    }

    .navbar-desktop > ul a {
        color: var(--font-black);
    }
}
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: max-content;
    }

    i{
        padding-right:1rem;
    }

nav li {
        width: max-content;
        padding: 15px 0px;
    }

    .categorieblock{
        position: fixed;
        left: 30%;
        height: 80%;
    }
